/* FOOTER */
footer {
    background: #0b3c75;
    color: white;
    padding: 40px 60px;
    margin-top: auto;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.footer-box h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-box p,
.footer-box a {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.footer-box a:hover {
    color: #7CFC00;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #aaa;
    border-top: 1px solid #1f4f85;
    padding-top: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    footer {
        padding: 30px 20px;
    }
    
    .footer-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}