/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0b3c75;
    padding: 12px 40px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.logo span {
    color: #7CFC00;
}

.search-box input {
    padding: 8px 15px;
    width: 250px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.nav-links a:hover {
    color: #7CFC00;
}

.nav-button {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
}

.nav-button:hover {
    color: #7CFC00;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .search-box input {
        width: 100%;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }
}